@model PsReservationPortal.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<style>
    div .form-group{
        margin-left:20px;
    }
    #btnSaveUser{
        margin-left:20px;
        min-width:80px;
    }
</style>

<h4>Editing User @Model.UserEmail</h4>
<hr />

@using (Html.BeginForm("SaveUserChanges", "Maint", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-check">
        <label>
            @Html.CheckBoxFor(m => m.EmailConfirmed) Email is Confirmed
        </label>
    </div>
    <div class="form-check">
        <label>
            @Html.CheckBoxFor(m => m.Activated) User is Activated
        </label>
    </div>
    <div class="form-check">
        <label>
            @Html.CheckBoxFor(m => m.Suspended) User is Suspended
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserRoles)
        @Html.DropDownList("rolesid",(MultiSelectList)Model.UserRoles, new { @class = "form-control", multiple = "multiple" })
        <small class="form-text text-muted">Ctrl+click to select multiple</small>        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Companies)
        @Html.DropDownList("companiesId", (MultiSelectList)Model.Companies, new { @class = "form-control", multiple = "multiple" })
        <small class="form-text text-muted">Ctrl+click to select multiple</small>
    </div>
    
    @Html.HiddenFor(m => m.UserId);
    @Html.HiddenFor(m => m.UserEmail);

    <button id="btnSaveUser" type="submit" class="btn btn-primary mb-2">Save</button>
}

