<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/pslogo.ico")" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")

    <style>
        .ps-menutitle {
            color: white;
            margin-right: 10px;
        }

            .ps-menutitle:hover {
                color: darkseagreen;
                text-decoration: underline;
            }

        body {
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }

        nav {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
        }
    </style>

	<link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2019.1.220/js/jszip.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="margin-right:50px;">Reservation</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home",null,new { @class="ps-menutitle"})</li>
                    @*<li>@Html.ActionLink("About", "About", "Home", null, new { @class = "ps-menutitle" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "ps-menutitle" })</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>          
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Pointsoft Reservation Portal &copy; @DateTime.Now.Year - Powered by Pointsoft &trade;</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
