@model PsReservationPortal.ViewModels.OutletDashboardViewModel
@{
    ViewBag.Title = "Outlet Index";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <script src="js/kendo.timezones.min.js"></script>
</head>

<style>
    .form-inline {
        display: inline;
    }

    #usertable_length label {
        float: left;
    }

    #usertable_filter label {
        float: right;
    }

    .input-sm {
        margin: 0 5px;
    }

    .paginate_button {
        margin: 0 2px;
    }

    .cellaligncenter {
        text-align: center;
    }

    .tableheader {
        background-color: rgb(48, 98, 177);
        color: rgb(247, 244, 244);
    }

    .btn {
        min-width: 80px;
    }
</style>

<div class="container-fluid">
    <h2>Dashboard</h2>
    <hr />
    <div>
        <h4>Outlet Profile @Html.ActionLink("Edit", "Edit", "Outlet", new { id = Model.Outlet.Id }, new { @class = "btn btn-outline-primary btn-sm m-2" })</h4>
    </div>
    <hr />
    <h3>Settings</h3>
    <div>
        <h4>
            @Html.ActionLink("Reservation", "EditReservSetting", "Outlet", null, new { @class = "btn btn-info btn-sm m-2" })
            @Html.ActionLink("Tables", "Index", "Table", null, new { @class = "btn btn-info btn-sm m-2" })
            @Html.ActionLink("Operation Type", "Index", "OperationType", null, new { @class = "btn btn-info btn-sm m-2" })
            @Html.ActionLink("Operation Hour", "Index", "OperationHourSetting", null, new { @class = "btn btn-info btn-sm m-2" })
            @Html.ActionLink("Reservation Exclusion Date", "Index", "ReservExclDate", null, new { @class = "btn btn-info btn-sm m-2" })
            @Html.ActionLink("Reservation Exclusion Day", "Edit", "ReservExclDay", null, new { @class = "btn btn-info btn-sm m-2" })
        </h4>
    </div>
    <hr />
    <h3>Reservations</h3>
    <div>
        <div id="table-schedule">
            <div id="table">
                @if(ViewBag.Tables.Count > 0)
                {
                    foreach(PsReservationPortal.Models.TableModel item in ViewBag.Tables)
                    {
                        <input checked type="checkbox" id="@item.Id" aria-label="@item.TableNumber" value="@item.Id" />
                    }
                }
            </div>
        </div>
        <div id="scheduler"></div>
    </div>
</div>

@section scripts {
    

    <script>
        $(document).ready(function () {
            $("#scheduler").kendoScheduler({
                views: [
                    "day",
                    { type: "workWeek", selected: true },
                    "month",
                    "agenda",
                    { type: "timeline", eventHeight: 50 }
                ],
                timezone: "Asia/Singapore",
            });
        });
    </script>
}

